# List_remove_append
Description: Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK'
in its place.

In [6]:
input_list=['SAS','R','PYTHON','SPSS']
input_list.pop()
print(input_list)
input_list.append('SPARK')
print(input_list)

['SAS', 'R', 'PYTHON']
['SAS', 'R', 'PYTHON', 'SPARK']

# String to List Conversion:
Description: Convert a string input_str='I Love Data Science & Python' to a list by splitting it on & .The sample output is 
    ['I Love Data Science ', 'Python']

In [9]:
input_str='I Love Data Science & Python'
list_1=input_str.split('&')
print(list_1)

['I Love Data Science ', ' Python']

# List to String conversion:
Description:Convert a list ['Pythons syntax is easy to learn','Python syntax is very clear'] to a string using &.
The sample output of the string should be

"Python syntax is easy to learn & Python syntax is very clear"

In [16]:
input_list=["Python syntax is easy to learn "," Python syntax is very clear"]
input_str=" & ".join(map(str,input_list))
print(input_str)

Python syntax is easy to learn  &  Python syntax is very clear

# Nested List
Description: Extract Python from a nested list
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [17]:
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list[2][0]

'Python'

# It’s the time to disco
Description: t = ("disco", 12, 4.5)
What is the output of: t[0][2]

# output is 's'

# String Palindrome
Description: Write a program to check whether a string is a palindrome or not. Print 1 if
the string is a palindrome and 0 otherwise.
Input: Any string
Output: 1 if the string is palindrome, 0 otherwise.

In [22]:
def isPalindrome(s):
    return s == s[::-1]



s =input("Enter your input String: ")
ans = isPalindrome(s)

if ans:
    print(1)
else:
    print(0)

Enter your input String: anna
1

# Reverse Words
Description: You will be given a sentence in the form of a string. You have to reverse the
order of the words in the sentence. Remember not to reverse the individual words, but
the order of words. Check the sample input-output for further clarification.
Input: A string, which will consist of a few spaces.
Output: The words in reverse order

In [23]:
s=input("Enter your input String:")

words = s.split(' ')
reverse_string = ' '.join(reversed(words))
print(reverse_string)

Enter your input String:hello every one
 one every hello

# String Formatting
Description: Write a program that satisfies below examples
Input 1: caloRie ConsuMed
Output 1: calorie_consumed
Input 2: data science
Output 2: data_science
Input 3: datascience
Output 3: datascience

In [29]:
input_1="caloRie ConsuMed"
input_2="data science"
input_3="datascience"

output_1=input_1.lower().replace(' ','_')
print(output_1)
output_2=input_2.replace(' ','_')
print(output_2)
output_3=input_3
print(output_3)

calorie_consumed
data_science
datascience

# Multiple Choice Questions

# 1. How will you extract ‘love’ from the string S = “I love Python”? (More than one
option may be correct.).
a. S[2:5]
b. S[2:6]
c. S[3:7]
d. S[-11:-7]
e. S[-11:-8]

Answer is Option B

# 2. What will the output of 3 * 3 ** 3 be?
a. 9
b. 27
c. 81
d. 729

Answer is Option C

# 3. What will the output be of ((500//7) % 5) ** 3?
a. 1
b. 2.91
c. 71.42
d. 0
e. 8

Answer is Option A

# 4. If you have a tuple T = (3, 5, 7, 11), what will the output of T.append(9) be?
a. (3, 5, 7, 9, 11)
b. (9, 3, 5, 7, 11)
c. (3, 5, 7, 11, 9)
d. Error

Answer is Option D

# 5.Question number 5 code is not not in the question bank only options are available so i cant able to do this question.

# 6.What will be the output of the following code?
code:-
l=[32,34,12,27,33]
l.append((14,19))
print(len(l))

a.5
b.6
c.7
d.The code will through an error

Answer is Option B

# 7. Which of the following statements is incorrect regarding sets in Python?
a. Sets do not contain duplicate elements
b. Sets are represented using curly braces {}
c. Sets are immutable
d. All of the above

Answer is Option C

# 8.What will be the output of the following code?

D={1:['Raj',22],2:['Simram',21],3:['Rahul',40]}
for val in D:
    print(val)
    
    
a:1
  2
  3
b:['Raj',22]
  ['Simram',21]
  ['Rahul',40]
c:1['Raj',22]
  2['Simram',21]
  3['Rahul',40]
d:Raj
  Simram
  Rahul
    
Answer is option A

# 9.What will be the comprehension equivalent be for the following snippet of code?

for sentance in paragraph:
    for words in sentence:
        single_word_list.append(words)

a. word for sentence in paragraph for word in sentence.split()
b. [word for sentence in paragraph for word in sentence.split()]
c. word for word in sentence.split() for sentence in paragraph
d. [word for word in sentence.split() for sentence in paragraph]

Answer is Option D

# 10.what will be the output of this code?

print(list[range(10,1,-1)])

a. [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
b. [9, 8, 7, 6, 5, 4, 3, 2]
c. [9, 8, 7, 6, 5, 4, 3, 2, 1]
d. [10, 9, 8, 7, 6, 5, 4, 3, 2]

Answer is Option D